* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans';
}

body {
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url('./assets/bench.jpeg');
  background-position: center;
  width: auto;
  background-size: cover;
  height: 100%;
  background-repeat: unset;
}

.hover:hover {
  opacity: 80%;
  font-size: 30px;
  color: olivedrab;
  transition: all 0.7s ease-in-out;;
  font-weight: 900;
  letter-spacing: 4px;

}

/*----- FOOTER STYLES -----*/

footer {
  display: block;
  left: 0; 
  bottom: 0;
  width: 100%;
  text-align: center;
  min-height: 30px;
  padding: 20px;
  text-decoration: none;
}
  
footer .copyright {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-top: 10px;
  color: #f2f2f2;
  font-size: 12px;
}
  
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
  
footer ul li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
}
  
footer ul li a {
  color: #f2f2f2;
}
  
footer ul li a:hover {
  transition: 1s;
  opacity: 40%;
}


/*----- NAV STYLES -----*/

.closed-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
}

.closed-nav h3 {
  color: #f2f2f2;
  font-size: 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0 0 25px rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
}

.closed-nav a {
  font-size: 30px;
  color: #f2f2f2;
  cursor: pointer;
}

.name {
  text-decoration: none;
}

.nav-open {
  background-color: rgba(0, 0, 0, 0.92);
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: auto;
  position: fixed;
  transition: all 2s;
}

.nav-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f2f2f2;
}

.nav-menu ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  list-style: none;
}


.nav-menu ul li a {
  color: #f2f2f2;
  text-decoration: none;
  padding: 10px;
  font-size: 25px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), 0 0 25px rgba(0, 0, 0, 0.8), 0 0 5px rgba(0, 0, 0, 0.8);
}

.nav-line {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}


/*----- HEADER STYLES -----*/

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.header img {
  width: 20vw;
  height: auto;
  border-radius: 20px;
  margin-bottom: 40px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0 0 25px rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, 0.5);
}

.home h1 {
  color: #473c38;
  text-align: center;
  font-size: 7vw;
}

.home h2 {
  color: #473c38;
  text-align: center;
  font-size: 3vw;
  padding: 10px;
  letter-spacing: 4px;
}

.home hr {
  width: 40vw;
  color: #473c38;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
}

.home p {
  color: #473c38;
  text-align: center;
  font-size: 25px;
  padding: 20px;
}

.info {
  background-color: #f2f2f2;
  width: 45vw;
  border-radius: 10px;
}


/*----- CONTACT STYLES -----*/

.contact {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px ;
  grid-template-rows: 100px 100px 100px 100px 100px 100px;
  align-items: center;
  justify-content: center;
  margin:  10px 100px;
}

.contactInfo {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 7;
  background-color: #473c38;
  width: 100%;
  height: 100%;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0px 0px 10px;
}

.form {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 7;
  width: 100%;
  height: 100%;
}

.icon {
  color: #473c38;
}

.contact .contactInfo .box {
  position: relative;
  padding: 20px ;
  display: flex;
  align-items: center;
}

.box {
  align-items: flex-start;
}
.contact .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.text h3 {
  font-weight: bold;
  color: #f2f2f2;
  font-size: 23px;
  margin-left: 10px;
}

.text p {
  color: #f2f2f2;
  margin-left: 10px;
  font-weight: 400;
}

form {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 7;
  width: 100%;
  height: 100%;
  padding: 50px;
  background: #fff;
  border-radius: 0px 10px 10px 0px;
}

form h2 {
  font-size: 30px;
  color: #473c38;
  font-weight: 500;
}

.inputBox label {
  font-weight: 400;
}

form .inputBox {
  position: relative;
  width: 100%;
  margin-top: 22px;
}

form .inputBox input, form .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #473c38;
  outline: none;
  resize: none;
}

form .inputBox input[type="submit"] {
  width: 100px;
  background: olivedrab;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

form .inputBox input[type="submit"]:hover {
  opacity: 50%;
  background-color: darkslategray;
}

label {
  color: #473c38;
}


/*----- PROJECTS STYLES -----*/

.project-ctn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.project-ctn a {
  text-decoration: none;
}

.project img{
  width: 30vw;
  height: 16.5vw;
  border-radius: 10px 10px 0px 0px;
  filter: grayscale(90%);
}

.project:hover img {
  transition: 0.5s;
  filter: none;
}

.project h2 {
  text-align: center;
  margin: 15px;
  font-weight: 500;
  color: #473c38;
  font-weight: bolder;
}

.project p {
  text-align: center;
  margin: 15px;
  font-weight: 500;
  color: #473c38;
  font-weight: bolder;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
  background-color: #f2f2f2;
  width: 30vw;
  border-radius: 10px;
}

.project:hover {
  cursor: pointer;
  transition: 1s;
}


/*----- SHOW PROJECTS STYLES -----*/

.show-project-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: auto;
}

.show-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  color: #473c38;
  margin: 10px;
  width: 80vw;
  border-radius: 10px;
}

.show-project img{
  width: 80vw;
  border-radius: 10px 10px 0px 0px;
}

.show-project p {
  text-align: center;
}

.show-project h2 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.show-project a {
  color: #fff;
  background-color: olivedrab;
  width: 110px;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 8px;
  font-size: 18px;
  margin: 10px;
  text-decoration: none;
  text-align: center;
}

.site-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.show-project a:hover {
  opacity: 50%;
  background-color: darkslategray;
}

.background {
  width: 60%;
  padding-bottom: 20px;
  text-align: center;
}


/*----- MEDIA QUERY STYLES -----*/

@media only screen and (max-width: 840px) {
  .contact {
    display: grid;
    grid-template-columns: 90px 90px 90px 90px 90px 90px 90px 90px ;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
  }
}

@media only screen and (max-width: 780px) {
  .contact {
    display: grid;
    grid-template-columns:80px 80px 80px 80px 80px 80px 80px 80px ;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
  }
}

@media only screen and (max-width: 690px) {
  .contact {
    display: grid;
    grid-template-columns:80px 80px 80px 80px 80px 80px 80px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    flex-direction: column;
  }
  .form {
    grid-column-start: 1;
    grid-column-end: 9;

  }
  .contactInfo {
    display: none;
  }

  form {
    border-radius: 10px;
  }  
}

@media only screen and (max-width: 600px) {
  .contact {
    display: grid;
    grid-template-columns:80px 80px 80px 80px 80px ;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    flex-direction: column;
  }
}

@media only screen and (max-width: 450px) {
  .contact {
    display: grid;
    grid-template-columns:80px 80px 80px 80px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
  }
}

@media only screen and (max-width: 950px) {
  .project {
    width: 280px;
  }

  .project img {
    width: 280px;
    height: 160px;
  }
}

@media only screen and (max-width: 700px) {
  .header img {
    width: 40vw;
  }

  .info {
    width: 80vw;
  }
}